<hr />
<footer class="ph3 pb3 f4">
    {% unless page.url == "/" %}
    <p>{{ site.description }} </p>
    {% endunless %}
  <p> Created by <a href="https://twitter.com/lamthuyvo">Lam Thuy Vo</a>,
  <a href="https://twitter.com/Disha_RC">Disha Raychaudhuri</a> and
  <a href="https://twitter.com/MoizSyed">Moiz Syed</a> with support from
  <a href="http://newsintegrity.com">The News Integrity Initiative</a> at the
  Craig Newmark Graduate School of Journalism at CUNY.</p>
  <div class="mt5 flex w-100">
    <div class="pr4">
      <a href="https://journalistsofcolor.us/" target="_blank"><img src="/assets/joc-logo-simple.svg" height="80"/></a>
    </div>

    <div class="w-70">
      <a href="https://www.journalism.cuny.edu/" target="_blank"><img src="/assets/cuny_vector.svg" height="70"/></a>
    </div>
  </div>
</footer>
