---
---

$font-stack: "Crimson Pro", serif;
$primary-color: #333;

$bg: #e2dfde;
$primary-color: #63514c;
$accent-color: #453f78;
$accent-color2: #f4cb64;

$color1: rgba(207, 219, 213, 1);
$color2: rgba(232, 237, 223, 1);
$color4: rgba(36, 36, 35, 1);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg;
}

.bg {
  color: $bg;
}
.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

.accent-color2 {
  color: $accent-color2;
}

.b--accent-color {
  border-color: $accent-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a.dataTableLink {
  color: $primary-color;
  text-decoration: none;
}

a.dataTableLink:hover {
  background-color: $accent-color2;
  text-decoration: none;
}

a.dataTableLink:hover div {
  background-color: $accent-color2;
}

a.project-name {
  text-decoration: none;
}

a .desc {
  color: $primary-color;
}

hr {
  border: 2px solid $accent-color;
}

h1,
h2,
h3 {
  font-family: "Alfa Slab One", sans-serif;
  letter-spacing: 0.0225em;
  line-height: 1;
  padding-bottom: 0.25em;
  padding-top: 0.3em;
}

h1 {
  margin: 0.6em 0 0 0;
}

p {
  margin-top: 0;
}

p > a:hover,
.nav-link > a:hover {
  text-decoration: underline;
}

.bg-big-btn:hover a {
  text-decoration: none;
}

.bg-big-btn {
  color: $bg;
  transition: color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.bg-big-btn:hover {
  color: $accent-color;
  background-color: $accent-color2;
}

.subcategory > a:last-child > div {
  border-bottom: 2px solid $primary-color;
}

.bg-accent-color {
  background-color: $accent-color;
}
