---
---

$font-stack: "Crimson Pro", serif;
$primary-color: #333;

$bg: #D9BEB4;
$primary-color: #413C58;
$accent-color: #99447B;
$accent-color2: #BACFDA;

$color1: rgba(207, 219, 213, 1);
$color2: rgba(232, 237, 223, 1);
$color4: rgba(36, 36, 35, 1);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg;
}

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}
a.dataTableLink{
  color: $primary-color;
  text-decoration: none;
}


a.dataTableLink:hover{
  background-color: $accent-color2;
  text-decoration: none;
}

a.dataTableLink:hover div{
  background-color: $accent-color2;
}


a.project-name {
  text-decoration: none;
}

a .desc {
  color: $primary-color;
}

hr {
  border: 2px solid $accent-color;
}

h1 {
  margin: 0.6em 0 0 0;
}

p {
  margin-top: 0;
}

.bg-big-btn:hover {
  color: $accent-color;
  background-color: $accent-color2;
}

.subcategory > a:last-child > div{
  border-bottom: 2px solid $primary-color;
}

.bg-big-btn {
  color: $accent-color2;
}
.bg-accent-color {
  background-color: $primary-color;
}