<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Pro:200,200i,400,400i,900,900i&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <meta property="og:title" content="The Journalists of Color Resource Guide">
    <meta property="og:site_name" content="The Journalists of Color Resource Guide">
    <meta property="og:url" content="jocresources.com">
    <meta property="og:description" content="A compilation of resources for journalists looking to level up their career and the newsrooms they work in.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.moiz.ca/joc/assets/og.png">

    <title>{{ site.title }}</title>
  </head>
  <body class="mw8 center f2-l f3-m f4">
    {% include header.html %} {% if page.title %}
    <h1 class="ph3">{{ page.title }}</h1>
    {% endif %}
    <div class="content ph3">{{ content }}</div>
    <div class="data-table mt5"></div>
    {% include footer.html %}
  </body>

  {% if page.data_category %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js"></script>
  <script type="text/javascript">
    var publicSpreadsheetUrl =
      "https://docs.google.com/spreadsheets/d/1dxl6MC1NChP-vCHZaWuQZ2sJZf_jeTRtRhCCVybbYZU/edit?usp=sharing";

    function init() {
      Tabletop.init({
        key: publicSpreadsheetUrl,
        callback: showInfo,
        simpleSheet: true
      });
    }

    function showInfo(data, tabletop) {
      console.log("data", data);
      var filtered_data = data.filter(
        d => d.category == "{{ page.data_category }}"
      );

      var dataTable = d3.select(".data-table");

      let subcategories = [...new Set(filtered_data.map(item => item.subcategory))];
      console.log(subcategories);

      subcategories.map(function(sc) {
        var filtered_by_subcategory = filtered_data.filter(
          d => d.subcategory == sc
        )

        var blockDiv = dataTable.append("div").attr("class", sc + " subcategory mb5")
        blockDiv.append("h2").text(sc).attr("class", "ph3 ttc mv2");

        filtered_by_subcategory.map(function(d) {

        var anchorEl = blockDiv.append("a")
          .attr("href", d.link)
          .attr("class", "link dataTableLink");

        var dataEl = anchorEl
          .append("div")
          .attr("class", "flex flex-row-l flex-row-m flex-column bt bw1 pa3");
        
        var name = dataEl.append("div").attr("class", "arrow-name pr5 w-40-l w-40-m w-100");
        name
          .append("p")
          .text(d.name)
          .attr("class", "accent-color f3-l f4 fw9")

        var desc = dataEl.append("div").attr("class", "w-60-l w-60-m w-100 f3-l f4");
        desc.text(d.description);
      });


      })
      
      
    }

    window.addEventListener("DOMContentLoaded", init);
  </script>
  {% endif %}
</html>
